@model List<WebUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 style="text-align:center" class="mb-0">Tüm üyeler (Eğitmen hariç) </h3>
</div>

<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Kullanıcı Adı</th>
                <th scope="col">Mail Adresi</th>               
                <th scope="col">Kullanıcı Adı</th>               
            </tr>
        </thead>
        <tbody class="list">
            
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.Id
                    </th>
                    <th class="budget">
                        @item.Name @item.Surname
                    </th>

                    <th class="budget">
                        @item.Email
                    </th>

                    <th class="budget">
                        @item.UserName
                    </th>

                    <th class="budget">
                        @item.UzmanlikAlan
                    </th>

                 


                  @*   <td> <a href="/Admin/Role/DeleteRole/@item.Id" class="btn btn-danger"> Üyeyi </a></td> *@

                </tr>

            }
        </tbody>
    </table>


    <br />


    <a style="margin-left:20px" href="/Admin/User/UyeRollendir" class="btn btn-primary"> Üye Yetkilendir! </a>

</div>






